﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
        <img resource="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/000/2be/0c8/0c7bd0e.jpg"/>
        <span>Rafael Montero</span> <br />
        <span>Software Engineer</span> <br />
        <span>Linkedin: </span><a href="https://www.linkedin.com/in/rafaelmonterov/">My profile</a> <br />
        <span>Phone: </span>+56975382829
</div>
<address>
    <strong>Support:</strong>   <a href="mailto:rafaelmonterov@gmail.com">rafaelmonterov@gmail.com</a><br />
</address>